<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-12 text-center">
                <h1>Traning Institute</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 py-4 d-flex justify-content-center align-items-center gap-3">

                <form action="{% url 'dashboard' %}" method="get" class="mb-0">
                    <button class="btn btn-outline-primary" type="submit">
                        Users
                    </button>
                </form>
                <form action="{% url 'subject_list' %}" method="get" class="mb-0">
                    <button class="btn btn-outline-primary" type="submit">
                        Subjects
                    </button>
                </form>


                <form action="{% url 'course_list' %}" method="get" class="mb-0">
                    <button class="btn btn-outline-primary" type="submit">
                        Courses
                    </button>
                </form>

            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <h2>Subjects</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 py-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addsubjectModal">
                    Add subject
                </button>
            </div>
        </div>

        <input type="text" id="search1" class="form-control mb-3" placeholder="Search Subject...">

        <div>
            <div class="row">
                <div class="col-12">
                    <div id="data-list">
                    </div>

                </div>
            </div>
        </div>

        <nav aria-label="subject pagination">
            <ul class="pagination justify-content-center">

                {% if data_per_page.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                        href="?page={{ data_per_page.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                        Previous
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                {% endif %}


                {% for num in data_per_page.paginator.page_range %}
                {% if data_per_page.number == num %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                        {{ num }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}

                {% if data_per_page.has_next %}
                <li class="page-item">
                    <a class="page-link"
                        href="?page={{ data_per_page.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                        Next
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
                {% endif %}

            </ul>
        </nav>


        {% for subject, sform in subject_data %}
        <div class="modal fade" id="editModal{{ subject.id }}" tabindex="-1" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Edit subject</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <form method="post" action="{% url 'update_subject' subject.id %}" class="edit-subject-form">
                            {% csrf_token %}

                            <input type="text" name="subject_name" placeholder="update subject">
                            <div class="d-grid gap-2 mt-3">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}



        <div class="modal fade" id="addsubjectModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title text-primary fw-bold">Subject Form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body bg-light">
                        <form method="post" action="{% url 'add_subject' %}" class="add-subject-form">
                            {% csrf_token %}
                            <input type="text" name="subject_name" placeholder="Enter subject">
                            <div class="d-grid mt-3">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    

    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function loadsubjectTable() {
            $.ajax({
                url: window.location.href,
                data: { q: $("#search1").val() },
                type: "GET",
                headers: { "X-Requested-With": "XMLHttpRequest" },
                success: function (response) {
                    $("#data-list").html(response);
                }
            });
        }

        $(document).on("submit", ".edit-subject-form", function (e) {
            e.preventDefault();

            let form = $(this);

            $.ajax({
                url: form.attr("action"),
                type: "POST",
                data: form.serialize(),
                headers: { "X-Requested-With": "XMLHttpRequest" },
                success: function () {


                    document.querySelectorAll('.modal.show').forEach(modalEl => {
                        const modal = bootstrap.Modal.getInstance(modalEl);
                        if (modal) modal.hide();
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                    });

                    Swal.fire("Subject updated successfully!");
                    loadsubjectTable();
                }
            });
        });



        $(document).ready(function () {
            loadsubjectTable();
        });


        $(document).on("submit", ".add-subject-form", function (e) {
            e.preventDefault();

            let form = $(this);

            $.ajax({
                url: form.attr("action"),
                type: "POST",
                data: form.serialize(),
                headers: { "X-Requested-With": "XMLHttpRequest" },
                success: function () {
                    form[0].reset();
                    $(".modal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();

                    Swal.fire("Subject added succesfully!");
                    loadsubjectTable();
                }


            });
        });

        $(document).ready(function () {
            loadsubjectTable();
        });

        $(document).on("submit", ".delete-subject-form", function (e) {
            e.preventDefault();

            if (!confirm("Are you sure you want to delete this subject?")) {
                return;
            }

            let form = $(this);

            $.ajax({
                url: form.attr("action"),
                type: "POST",
                data: form.serialize(),
                headers: { "X-Requested-With": "XMLHttpRequest" },
                success: function () {
                    loadsubjectTable();
                }
            });
        });

        $(document).ready(function () {
            loadsubjectTable();
        });


        let timer;

        $("#search1").on("keyup", function () {
            clearTimeout(timer);

            timer = setTimeout(function () {
                loadsubjectTable();
            }, 300);
        });





    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>

</html>